.card {
    width: 340px;
    height: 565px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid lightgrey;
    margin-left: 5px;
    margin-top: 5px;
}

.image_container {
    width: 340px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    border: 1px solid lightgrey;
}

.image_inner {
    width: 275px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        max-width: 100%;
        max-height: 100%;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
}

.add_btn {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    background-color: rgb(253, 128, 36);
    position: relative;
    padding: 1em;
    border-radius: 4px;
    border: 2px solid rgb(253, 128, 36);
    margin-bottom: 5px;
    cursor: pointer;
    &_clicked {
        background-color: rgb(108, 186, 116);
        border: 2px solid rgb(108, 186, 116);
    }
}

.remove_fav {
    background-color: rgb(236, 61, 61);
    border: 2px solid rgb(236, 61, 61);
}
