.nav {
    width: 100%;
    background-color: #ffcf00;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px 5px 30px;
    box-sizing: border-box;
    align-items: center;
    img {
        width: 40px;
        height: 40px;
    }
    &_fav_cart {
        display: flex;
    }
}

.cart_total {
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    &:hover {
        color: red;
    }
}

.active_link {
    display: flex;
    color: red;
    &:visited {
        color: red;
    }
    &:hover {
        color: red;
    }
}
